<body>

  <!-- <p id="pic"><img src="assets/image/image1.jpg" width="230" height="230"></p> -->
  
  <p size="large" id="text1">Care My Skin</p>
  <p id="text3">_____________________</p>
  <p id="text2">ทุกการดูแลคุณเลือกได้</p>
  <p id="pic"><img src="assets/image/pic1-1.png" width="180" height="180"></p>
  <p id="text4">ยินดีต้อนรับเข้าสู่พื้นที่<br>
    ที่คุณสามารถรับคำแนะนำการดูแลผิว<br>
    และคุณก็สามารถเผยแพร่การดูแลผิวของคุณ<br>
    ให้ผู้ใช้ท่านอื่นได้รู้เช่นกัน</p>
  
  <button (click)="startApp()">เริ่มต้นใช้งาน</button>