<!-- <ion-header>
  <ion-toolbar>
    <ion-title> Product </ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/add-product']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        รายการผลิตภัณฑ์
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row *ngFor="let product of products">
        <ion-col>
          <ion-item>
            <ion-label>
              <h3>{{product.productname}}</h3>
              <p>รหัสสินค้า : {{product.productid}}</p>
              <p>แบรนด์ : {{product.productbrand}}</p>
              <p>รูปภาพ : {{product.productimage}}</p>
            </ion-label>
            <ion-buttons>
             <ion-button (click)="onClickDeleteProduct(product)">
               <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-buttons> 
            <ion-buttons>
              <ion-button (click)="productDetail(product.productid)">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon>
               </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content> -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">products</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card
    *ngFor="let pro of products"
    [routerLink]="['/product-detail/', pro.productid]"
  >
  <ion-img [src]="pro.productimage"></ion-img>
    <ion-card-header>
      <ion-card-title>{{pro.productname}}</ion-card-title>
      <ion-card-subtitle>แบรนด์ : {{pro.productbrand}}</ion-card-subtitle>
    </ion-card-header>

    <!-- <ion-card-content> {{it.description}} </ion-card-content> -->
  </ion-card>
</ion-content>
